.main-row{
  display: flex;
  align-items: center;
  margin: 6px;
}

.bottom-row{
  margin: 6px;
}

.font-label{
  font-size: 13px;
  opacity: 0.5;
}

.font-data-next{
  font-size: 18px;
  font-weight: 500;
}

.font-data{
  font-size: 20px;
  font-weight: 600;
}
