<ng-container *ngIf="width > 768; else mobileNav">
  <nav class="d-flex">
    <div class="small-start-container">
      <img src="assets/crest.png" height="80%" routerLink="/">
    </div>
    <ul class="nav-container">
      <button class="btn nav-item p-3" routerLink="/">{{"Navbar.Home"  | translate}}</button>
      <button class="btn nav-item p-3" routerLink="/map">{{"Navbar.Map" | translate}}</button>
      <button class="btn nav-item p-3" routerLink="/menetrend">{{"Navbar.Timetable" | translate}}</button>
    </ul>
    <div class="small-end-container">
      <button class="btn nav-item p-3 ms-5">
        <img src="assets/{{currentLang}}.svg" height="24" alt="" (click)="changeLanguage($event)">
      </button>
    </div>
  </nav>
</ng-container>
<ng-template #mobileNav>
  <nav class="mobile-nav">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn dropdown-toggle" ngbDropdownToggle>{{"Navbar.Menu" | translate}}</button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem routerLink="/">{{"Navbar.Home"  | translate}}</button>
        <button ngbDropdownItem routerLink="/map">{{"Navbar.Map" | translate}}</button>
        <button ngbDropdownItem routerLink="/menetrend">{{"Navbar.Timetable" | translate}}</button>
        <button ngbDropdownItem >
          <img src="assets/{{currentLang}}.svg" height="20" (click)="changeLanguage($event)">
        </button>
      </div>
    </div>
  </nav>
</ng-template>
