.nav-container{
  height: 10vh;
  flex-grow: 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
}

.small-start-container{
  height: 10vh;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.small-end-container{
  height: 10vh;
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobile-nav{
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5vw;
}

nav{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
