.input-style{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

@media screen and (max-width: 768px) {
  .input-style{
    margin-bottom: 5px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}

.search-button{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 18px;
}

.main-section{
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  margin-bottom: auto;
}

.home{
  height: 90vh;
  display: flex;
  flex-direction: column;
}

.result-list{
  min-height: 500px;
}

.divider-container{
  height: 50px;
}

@media (min-width: 1200px) {
  .divider-container {
    height: 50px;
  }
}

main{
  background-color: #f8f9fa;
  margin-top: 50px;
  margin-bottom: 50px;
}
