<div class="home">
  <div class="main-section">
    <main class="container">
      <div>
        <p>{{"Name" | translate}}</p>
        <i class="bi bi-calendar3"></i>
      </div>
      <div class="card mb-5">
        <form #searchForm="ngForm">
          <div class="row">
            <div class="col-md-3 input-style ps-md-5">
              <input
                name="stop"
                type="text"
                class="form-control"
                placeholder="Megálló"
                [(ngModel)]="modelTypeahead"
                [ngbTypeahead]="search"
                required
                [editable]="false"
              />
            </div>
            <div class="col-md-3 input-style">
              <div class="input-group">
                <input
                  class="form-control"
                  placeholder="2020-12-28"
                  name="dp"
                  [(ngModel)]="modelDate"
                  [minDate]="modelDate"
                  [weekdays]="true"
                  ngbDatepicker
                  #d="ngbDatepicker"
                />
                <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
              </div>
            </div>
            <div class="col-md-3 input-style">
              <ngb-timepicker required name="time" [(ngModel)]="time" [spinners]="true"></ngb-timepicker>
            </div>
            <div class="col-md-3 search-button">
              <button class="btn btn-primary" (click)="searchStop()">Keresés</button>
            </div>
          </div>
        </form>
      </div>
      <div class="mb-5">
        <h2>Járatok</h2>
        <div class="result-list">
          <app-stop-item-card></app-stop-item-card>
        </div>
      </div>
    </main>
  </div>
  <div class="flex-shrink-0">
    <app-footer></app-footer>
  </div>
</div>

